
/*Footer*/

 .ftr {
   background: #222;
   color: white;
   padding: 20px 0;
   text-align: center;
 }
 
 .container1 {
   max-width: 1000px;
   margin: 0 auto;
 }
 
 .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
 }
 
 .colm1, .colm2, .colm3, .colm4 {
   width: 23%;
   text-align: left;
 }
 
 h4 {
   margin-bottom: 10px;
   font-size: 18px;
 }
 
 p, a {
   color: white;
   text-decoration: none;
   font-size: 14px;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
  
 .icon {
   margin-right: 8px;
   color: #ffcc00;
 }
 
  
 .cnt2 {
   margin-top: 10px;
 }
 
 .social-icon {
   margin: 0 10px;
   display: inline-flex;
   align-items: center;
 }
 
 .social {
   margin-right: 5px;
   font-size: 18px;
   color: #ffcc00;
 }
 
 .social:hover {
   color: #f1c40f;
 }
 